/* feuille de style site zoning */


/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
* {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ***********************FIN ERIC MEYER************************************************* */


/*************************header index ****************************************/


body{
    width: 50%;
    margin: 0 auto;
}

header {
    margin: 10px;
}

h1{
    margin: 30px;
    font-size: 50px;
}

#logo {
    text-align: center;
    margin: -70px;

}

#slogan {
    float: left;
    text-align: center;
}

#photoindex {
    text-align: center;
}

/************************************* la page zoning ****************************/

/* le zoning 1 est déclarer #zoning1  */
#zoning1  {
    background: #ffd6d6;
    border: 1px solid #fff;
    width: 798px;
    margin: auto;
    text-align: center;
    

}
#zoning1 header {
    background-color: #f7f39a;
    height: 70px;
}
#zoning1 aside {
    background-color: #10828c;
    height: 525px;
    float: left;
    width: 20%;
    
}

#zoning1 section {
    height: 525px;
    width: 80%;
    float: left;
    background: #38817a;
    margin: 0;
    padding: 100;
}



/*************************************debut nav *************************/


header{
    text-align: center;
}
nav {
 
    height: 70px;
    padding: 15px;
    border-bottom: 8px solid #FFF;
    text-align: center;
    border: none;
}
nav a {
    margin: 10px;
    padding:2px 10px;
    border-radius: 10px 0px;
    border: 2px solid #fff;
    background: #fff;

    font-family: 'oswald', sans-serif, 'anton', sans-serif, 'lemonada', cursive;
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
    border: 1px solid white;
}

nav a:hover {
    background: rgb(207, 134, 134);
    color: #fff;
    border: 1px solid white;
}
.active{
    background: #2c3e50;
    color: #fff;
    border: 1px solid white;
}